/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Styles
  ========================================
*/

.commandsbody1 .commandsheader1 {
  color: white ;
  text-align: center;
}
.commandsbody1 .commandsection1 {
	background:grey ;
	font-size:24px ;
}
.commandsbody1 {
  font-size:36px ;
  color: rgba(211, 211,	211, 1) ;
  margin: 15px;
}
.commandsheader1 {
  font-size:48px ;
  margin-left:450px ;
  margin-right: 450px;
  background:rgba(	154,	64,	64, 1) ;
}
.mainheader1 {
  background-image: radial-gradient( circle at top center,rgba(46, 49, 49, 1),rgba(46, 49, 49, 0)) ;
  color: rgba(211, 211,	211, 1) ;
  font-size: 90px ;
  font-family: 'Roboto', sans-serif; ;
  height: 100px ;
  margin: 20px ;
  text-align: center ;

}
div {
  font-family: 'Lato', sans-serif ;
}
p {
  background: transparent ;
}
.commandsfooter1 {
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-size: 36px;
  cursor: pointer;
  width: 600px;
  display: inline-block;
  font-family: 'Lato', sans-serif ;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  margin: 15px ;
}
  
.commandsfooter1 :not(:last-child) {
  border-bottom: none; 
}
  
.commandsfooter1 :hover {
  background-image: linear-gradient(to right, rgba(	154,	64,	64, 1), rgba(	154,	64,	64, 0) 95% );
}
.hello1 {
  margin: 5px ;

}
.meme1 {
  margin: 5px ;

}
.danny1 {
  margin: 5px ;

}
.info1 {
  margin: 5px ;
  
}
html {
  background-image: linear-gradient(rgba(122, 122,	122, 1) 11%, rgba(88, 88, 88, 1), rgba(122, 122,	122, 1) 98%) ;
  background-attachment: fixed;
}
#navagationmenu1 {
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-size: 48px;
  cursor: pointer;
  width: 900px;
  font-family: 'Lato', sans-serif ;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  margin:15px;
}
  
#navagationmenu1 :not(:last-child) {
  border-bottom: none; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.addtodiscord1:hover {
  background-image: linear-gradient(to right, rgba(	154,	64,	64, 1) 35% , rgba(	154,	64,	64, 0));
}
.commandsnavigation1:hover {
  background-image: linear-gradient(to right, rgba(	154,	64,	64, 1) 35% , rgba(	154,	64,	64, 0)); 
}
.spacer {
  color: transparent;
}