/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Styles
  ========================================
*/

.commandsbody1 .commandsheader1 {
  background:#D3D3D3 ;
  font-size:39px ;
  margin: 10px ;
  color: #ffffff ;
}
.commandsbody1 .commandsection1 {
	background:grey ;
	font-size:24px ;
}
.commandsbody1 {
  font-size:36px ;
  color: #800020 ;
}
.commandsheader1 {
  background:#D3D3D3 ;
  font-size:39px ;
  margin: 10px
}
.mainheader1 {
  background: #A9A9A9 ;
  color: #D3D3D3 ;
  font-size: 90px ;
  font-family: 'Roboto', sans-serif; ;
  height: 100px ;
  margin: 20px ;
}
div {
  font-family: 'Lato', sans-serif ;
}
p {
  background: #A9A9A9 ;
}
.commandsfooter1 {
  background: #A9A9A9 ;
  margin: 15px ;
}
.commandsnavagation1 commands{
  background: #808080 ;
  font-size: 48px ;
  margin: 15px ;
  color: #D3D3D3
}
.hello1 {
  margin: 5px ;

}
.meme1 {
  margin: 5px ;

}
.danny1 {
  margin: 5px ;

}
.info1 {
    margin: 5px ;
  
}